{% extends "base-login.html" %}
{% block base_login %}

<div class="login__block active" id="l-login">
  <div class="login__block__header">
      <i class="zmdi zmdi-account-circle"></i>
      Tela de Login

      <div class="actions actions--inverse login__block__actions">
          <div class="dropdown">
              <i data-toggle="dropdown" class="zmdi zmdi-more-vert actions__item"></i>

              <div class="dropdown-menu dropdown-menu-right">
                  <a class="dropdown-item" href="{% url 'cadastro' %}">Criar Conta</a>
                  <a class="dropdown-item" href="{% url 'password_reset' %}">Esqueceu a Senha?</a>
              </div>
          </div>
      </div>
  </div>

  <form method="post">
    {% csrf_token %}
    <div class="login__block__body">
        {% for field in form %}
        <div class="form-group form-group--float form-group--centered">
            {% if field.name == "password" %}
            <input type="password" class="form-control" id="{{field.id_for_label}}" value="{{field.value|default_if_none:''}}" name="{{field.name}}">
            {% else %}
            <input type="text" class="form-control" id="{{field.id_for_label}}" value="{{field.value|default_if_none:''}}" name="{{field.name}}">
            {% endif %}
            <label>{{field.label}}</label>
            <i class="form-group__bar"></i>
        </div>
        {% endfor %}

        <button class="btn btn--icon login__block__btn"><i class="zmdi zmdi-long-arrow-right"></i></button>
    </div>
</form>
</div>

{% endblock %}
