{% extends "base-login.html" %}
{% block base_login %}

{% if validlink %}
<div class="login">
  <div class="login__block active" id="l-login">
      <div class="login__block__header">
          <i class="zmdi zmdi-account-circle"></i>
          Nova Senha
      </div>

      <form method="post" name="form" id="form">
      {% csrf_token %}
      <div class="login__block__body">
          {{form.non_field_errors}}

          {% for field in form %}
          <div class="form-group form-group--float form-group--centered">
              <input id="{{field.id_for_label}}" value="{{field.value|default_if_none:''}}" type="password" class="form-control" name="{{field.name}}">
              <label>{{field.label|capfirst}}</label>
              <i class="form-group__bar"></i>
              {{field.errors}}
          </div>
          {% endfor %}

          <button href="index.html" class="btn btn--icon login__block__btn"><i class="zmdi zmdi-long-arrow-right"></i></button>
      </div>
    </form>

  </div>
</div>
{% else %}
  <p>
    The password reset link was invalid, possibly because it has already been used.
    Please request a new password reset.
  </p>
{% endif %}

{% endblock %}
