{% extends "base.html" %}
{% load static %}
{% block base %}

<script>

window.onload = function(){
  document.getElementById('li_paciente').className = "navigation__sub navigation__sub--active navigation__sub--toggled";
  document.getElementById('li_listar_paciente').className = "navigation__active";
}

</script>

<style>
    [data-toggle="buttons"]:not(.btn-group--colors) > .btn {
        font-weight: 400;
        background-color: transparent;
        cursor: pointer;
        box-shadow: none !important;
        border: 0 !important;
        margin: 0; }
        [data-toggle="buttons"]:not(.btn-group--colors) > .btn:not(.active) {
            color: #FFFFFF !important; }
        [data-toggle="buttons"]:not(.btn-group--colors) > .btn.active {
            background-color: #03A9F4;
            color: #FFFFFF; }
</style>

<div class="card card--inverse widget-profile">

    <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn active">
            <input type="radio" onfocus="change()" name="options" id="option1" autocomplete="off" checked> Perfil
        </label>
        <label class="btn">
            <input type="radio" onfocus="change()" name="options" id="option2" autocomplete="off"> Prontuário
        </label>
    </div>

    <div class="card-body text-center">
        <img src={% static "demo/img/profile-pics/profile-pic.jpg" %} class="widget-profile__img" alt="">

        <h4 class="card-title mb-0">{{paciente.nome}}</h4>

        <div class="actions actions--inverse">
            <div class="actions__item">
                <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                <div class="dropdown-menu dropdown-menu-right">
                    <a href="" class="dropdown-item">Refresh</a>
                    <a href="" class="dropdown-item">Manage Widgets</a>
                    <a href="" class="dropdown-item">Settings</a>
                </div>
            </div>
        </div>
    </div>

    <div id="perfil-prontuario">
        <div class="widget-profile__list">
            <div class="media">
                <div class="avatar-char"><i class="zmdi zmdi-assignment"></i></div>
                <div class="media-body">
                    <strong>Histórico</strong>
                    <small>{{paciente.historico}}</small>
                </div>
            </div>
        </div>

        <div class="listview listview--inverse listview--striped">
            <div class="listview__item">
                <div class="widget-past-days__info">
                    <small>CPF</small>
                    <h3>{{paciente.cpf}}</h3>
                </div>
            </div>

        </div>
    </div>
</div>

<script>
    function change(){

        var opc1 = document.getElementById('option1').checked;
        var opc2 = document.getElementById('option2').checked;

        if(opc1){
            document.getElementById('perfil-prontuario').innerHTML = "<div class='widget-profile__list'>" +
                                                            "<div class='media'>" +
                                                                "<div class='avatar-char'><i class='zmdi zmdi-assignment'></i></div>"+
                                                                "<div class='media-body'>"+
                                                                    "<strong>Histórico</strong>"+
                                                                    "<small>{{paciente.historico}}</small>"+
                                                                "</div>"+
                                                            "</div>"+
                                                        "</div>"+
                                                        "<div class='listview listview--inverse listview--striped'>"+
                                                            "<div class='listview__item'>"+
                                                                "<div class='widget-past-days__info'>"+
                                                                    "<small>CPF</small>"+
                                                                    "<h3>{{paciente.cpf}}</h3>"+
                                                                "</div>"+
                                                            "</div>"+
                                                        "</div>";
        }

        else{
            document.getElementById('perfil-prontuario').innerHTML ="<div class='widget-profile__list'>" +
                                                                        "<div class='media'>" +
                                                                            "<div class='avatar-char'><i class='zmdi zmdi-assignment'></i></div>"+
                                                                            "<div class='media-body'>"+
                                                                                "<strong>Dados do aplicativo</strong>"+
                                                                            "</div>"+
                                                                        "</div>"+
                                                                    "</div>"+ 
                                                                    "<div class='listview listview--inverse listview--striped'>"+
                                                                        "<div class='listview__item'>"+
                                                                            "<div class='widget-past-days__info'>"+
                                                                                "<small>Jogos Utilizados</small>"+
                                                                                "<h3>3</h3>"+
                                                                            "</div>"+
                                                                        "</div>"+
                                                                        "<div class='listview__item'>"+
                                                                            "<div class='widget-past-days__info'>"+
                                                                                "<small>Vitórias</small>"+
                                                                                "<h3>5</h3>"+
                                                                            "</div>"+
                                                                        "</div>"+
                                                                        "<div class='listview__item'>"+
                                                                            "<div class='widget-past-days__info'>"+
                                                                                "<small>Derrotas</small>"+
                                                                                "<h3>3</h3>"+
                                                                            "</div>"+
                                                                        "</div>"+
                                                                    "</div>";
        }
    }
</script>

{% endblock %}