{% extends "base.html" %}
{% load static %}
{% block base %}

<script>

window.onload = function(){
  document.getElementById('li_paciente').className = "navigation__sub navigation__sub--active navigation__sub--toggled";
  document.getElementById('li_listar_paciente').className = "navigation__active";
}

</script>

<style>
    [data-toggle="buttons"]:not(.btn-group--colors) > .btn {
        font-weight: 400;
        background-color: transparent;
        cursor: pointer;
        box-shadow: none !important;
        border: 0 !important;
        margin: 0; }
        [data-toggle="buttons"]:not(.btn-group--colors) > .btn:not(.active) {
            color: #FFFFFF !important; }
        [data-toggle="buttons"]:not(.btn-group--colors) > .btn.active {
            background-color: rgb(55, 3, 244);
            color: #FFFFFF; }
</style>

<div class="card card--inverse widget-profile">

    <div class="card-body">
    
        <div class="tab-container">
            <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#perfil" role="tab">Perfil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="tab" href="#prontuario" role="tab">Prontuário</a>
                </li>
            </ul>

            <div class="card-body text-center">
                <img src={% static "demo/img/profile-pics/4.jpg" %} class="widget-profile__img" alt="">
        
                <h4 class="card-title mb-0" style="color: rgba(14, 56, 247, 0.945)">{{paciente.nome}}</h4>
        
                <div class="actions actions--inverse">
                    <div class="actions__item">
                        <i data-toggle="dropdown" class="zmdi zmdi-more-vert"></i>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a href="" class="dropdown-item">Refresh</a>
                            <a href="" class="dropdown-item">Manage Widgets</a>
                            <a href="" class="dropdown-item">Settings</a>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="tab-content">
                <div class="tab-pane active fade show" id="perfil" role="tabpanel">
                    <div class="widget-profile__list">
                        <div class="media">
                            <div class="avatar-char"><i class="zmdi zmdi-assignment"></i></div>
                            <div class="media-body">
                                <strong style="color: rgba(14, 56, 247, 0.945)">Histórico</strong>
                                <small style="color: rgba(14, 56, 247, 0.945)">{{paciente.historico}}</small>
                            </div>
                        </div>
                    </div>
                
                    <div class="listview listview--inverse listview--striped">
                        <div class="listview__item">
                            <div class="widget-past-days__info">
                                <small style="color: rgba(14, 56, 247, 0.945)">CPF</small>
                                <h3 style="color: rgba(14, 56, 247, 0.945)">{{paciente.cpf}}</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="prontuario" role="tabpanel">
                    <div class="widget-profile__list"> 
                        <div class="media"> 
                            <div class="avatar-char"><i class="zmdi zmdi-assignment"></i></div>
                            <div class="media-body">
                                <strong style="color: rgba(14, 56, 247, 0.945)">Jogos</strong>
                            </div>
                        </div>
                    </div>

                    <ul class="nav nav-tabs" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="tab" href="#memoria" role="tab">Jogo da Memória</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#cores" role="tab">Jogo das Cores</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#vestir" role="tab">Jogo de Vestir</a>
                        </li>
                    </ul> 

                    <div class="tab-content">
                        <div class="tab-pane active fade show" id="memoria" role="tabpanel">

                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <canvas id="graficoPizzaJogoMemoria"></canvas>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <canvas id="graficoAcertosErrosJogoMemoria"></canvas>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <canvas id="graficoTempoJogoMemoria"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="cores" role="tabpanel">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <canvas id="graficoPizzaJogoCores"></canvas>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <canvas id="graficoAcertosErrosJogoCores"></canvas>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <canvas id="graficoTempoJogoCores"></canvas>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="vestir" role="tabpanel">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <canvas id="graficoPizzaJogoVestir"></canvas>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <canvas id="graficoAcertosErrosJogoVestir"></canvas>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="card">
                                        <div class="card-body">
                                            <canvas id="graficoTempoJogoVestir"></canvas>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src=https://cdn.jsdelivr.net/npm/chart.js@2.8.0></script>                            

<script>

    var ctxJogoMemoria1 = document.getElementById('graficoPizzaJogoMemoria');
    var chart = new Chart(ctxJogoMemoria1, {
        // The type of chart we want to create
        type: 'pie',

        // The data for our dataset
        data: {
            labels: ['acertos', 'erros'],
            datasets: [{
                data: [137, 271],
                backgroundColor: [
                    'rgba(22, 201, 28, 0.85)',
                    'rgba(247, 4, 4, 0.85)'
                ]
            }]
        },

        // Configuration options go here
        options: {
        }
    });

    var ctxJogoMemoria2 = document.getElementById('graficoAcertosErrosJogoMemoria');
    var chart = new Chart(ctxJogoMemoria2, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ['10/06', '11/06', '12/06', '13/06', '14/06', '15/06', '16/06', '17/06', '18/06', '19/06'],
            datasets: [{
                label: 'acertos',
                data: [5, 3, 5, 6, 20, 15, 17, 18, 0, 48],
                borderWidth: 3,
                borderColor: 'rgba(22, 201, 28, 0.85)',
                backgroundColor: 'transparent',
            },{
                label: 'erros',
                data: [54, 48, 45, 32, 24, 26, 20, 16, 0, 6],
                borderWidth: 3,
                borderColor: 'rgba(247, 4, 4, 0.85)',
                backgroundColor: 'transparent',
            }]
        },

        // Configuration options go here
        options: {
            title: {
                display: true,
                fontSize: 20,
                text: 'Acertos e Erros nos últimos 10 dias',
            }
        }
    });

    var ctxJogoMemoria3 = document.getElementById('graficoTempoJogoMemoria');
    var chart = new Chart(ctxJogoMemoria3, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
            datasets: [{
                label: 'minutos',
                data: [16, 13, 67, 45, 2, 4, 17, 5, 13, 13],
                borderWidth: 3,
                borderColor: 'rgba(18, 25, 235, 1)',
                backgroundColor: 'transparent',
            }]
        },

        // Configuration options go here
        options: {
            title: {
                display: true,
                fontSize: 20,
                text: 'Tempo para completar o jogo nas últimas 10 tentativas',
            }
        }
    });

    var ctxJogoCores1 = document.getElementById('graficoPizzaJogoCores');
    var chart = new Chart(ctxJogoCores1, {
        // The type of chart we want to create
        type: 'pie',

        // The data for our dataset
        data: {
            labels: ['acertos', 'erros'],
            datasets: [{
                data: [109, 105],
                backgroundColor: [
                    'rgba(22, 201, 28, 0.85)',
                    'rgba(247, 4, 4, 0.85)'
                ]
            }]
        },

        // Configuration options go here
        options: {
        }
    });

    var ctxJogoCores2 = document.getElementById('graficoAcertosErrosJogoCores');
    var chart = new Chart(ctxJogoCores2, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ['10/06', '11/06', '12/06', '13/06', '14/06', '15/06', '16/06', '17/06', '18/06', '19/06'],
            datasets: [{
                label: 'acertos',
                data: [5, 10, 5, 14, 20, 15, 6, 14, 8, 12],
                borderWidth: 3,
                borderColor: 'rgba(22, 201, 28, 0.85)',
                backgroundColor: 'transparent',
            },{
                label: 'erros',
                data: [19, 26, 25, 4, 1, 3, 6, 5, 3, 13],
                borderWidth: 3,
                borderColor: 'rgba(247, 4, 4, 0.85)',
                backgroundColor: 'transparent',
            }]
        },

        // Configuration options go here
        options: {
            title: {
                display: true,
                fontSize: 20,
                text: 'Acertos e Erros nos últimos 10 dias',
            }
        }
    });

    var ctxJogoCores3 = document.getElementById('graficoTempoJogoCores');
    var chart = new Chart(ctxJogoCores3, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ['10/06', '11/06', '12/06', '13/06', '14/06', '15/06', '16/06', '17/06', '18/06', '19/06'],
            datasets: [{
                label: 'minutos',
                data: [16, 13, 67, 45, 2, 4, 17, 5, 13, 13],
                borderWidth: 3,
                borderColor: 'rgba(18, 25, 235, 1)',
                backgroundColor: 'transparent',
            }]
        },

        // Configuration options go here
        options: {
            title: {
                display: true,
                fontSize: 20,
                text: 'Tempo gasto no jogo',
            }
        }
    });

    var ctxJogoVestir1 = document.getElementById('graficoPizzaJogoVestir');
    var chart = new Chart(ctxJogoVestir1, {
        // The type of chart we want to create
        type: 'pie',

        // The data for our dataset
        data: {
            labels: ['acertos', 'erros'],
            datasets: [{
                data: [109, 65],
                backgroundColor: [
                    'rgba(22, 201, 28, 0.85)',
                    'rgba(247, 4, 4, 0.85)'
                ]
            }]
        },

        // Configuration options go here
        options: {
        }
    });

    var ctxJogoVestir2 = document.getElementById('graficoAcertosErrosJogoVestir');
    var chart = new Chart(ctxJogoVestir2, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ['10/06', '11/06', '12/06', '13/06', '14/06', '15/06', '16/06', '17/06', '18/06', '19/06'],
            datasets: [{
                label: 'acertos',
                data: [5, 10, 5, 14, 20, 15, 6, 14, 8, 12],
                borderWidth: 3,
                borderColor: 'rgba(22, 201, 28, 0.85)',
                backgroundColor: 'transparent',
            },{
                label: 'erros',
                data: [13, 10, 13, 5, 3, 6, 7, 4, 1, 3],
                borderWidth: 3,
                borderColor: 'rgba(247, 4, 4, 0.85)',
                backgroundColor: 'transparent',
            }]
        },

        // Configuration options go here
        options: {
            title: {
                display: true,
                fontSize: 20,
                text: 'Acertos e Erros nos últimos 10 dias',
            }
        }
    });

    var ctxJogoVestir3 = document.getElementById('graficoTempoJogoVestir');
    var chart = new Chart(ctxJogoVestir3, {
        // The type of chart we want to create
        type: 'line',

        // The data for our dataset
        data: {
            labels: ['10/06', '11/06', '12/06', '13/06', '14/06', '15/06', '16/06', '17/06', '18/06', '19/06'],
            datasets: [{
                label: 'minutos',
                data: [16, 13, 67, 45, 2, 4, 17, 5, 13, 13],
                borderWidth: 3,
                borderColor: 'rgba(18, 25, 235, 1)',
                backgroundColor: 'transparent',
            }]
        },

        // Configuration options go here
        options: {
            title: {
                display: true,
                fontSize: 20,
                text: 'Tempo gasto no jogo',
            }
        }
    });

</script>

{% endblock %}